@CHARSET "UTF-8";

	#sub{
		margin: 200px auto;
	}
	
	
	.form_style{
		border: solid 1px red;
		width: 410px; height: 155px;
	}
	.content{
		border: solid 1px yellow;
		width: 400px; height: 80px;
		margin: 2px 0px;
	}
	
	.title{
		border: solid 1px blue;
		width: 400px; height: 30px;
		text-align: center; margin: 2px 0px;
	}