@CHARSET "UTF-8";

#content{
	width: 1024px; border: 0px solid red;
	margin: 0px auto;
	overflow: hidden;
}

#content > #main_nav,
#content > #main,
#content > #main_banner{
	border: 0px solid blue;
	float: left; margin-left: 5px;
}

#content > #main_nav{width: 200px;}
#content > #main_nav li{height: 40px; }


#content > #main{width: 700px;}
#content > #main > div{
	border: 1px solid #CCCCCC; width: 695px;
	margin-top: 10px;
}
#content > #main > div:nth-child(1){
	height: 350px;
}
#content > #main > div:nth-child(2){
	height: 200px;
}
#content > #main > div:nth-child(3){
	height: 70px; background-color: #500095;
	line-height: 70px;
}
#content > #main > div:nth-child(3) li{
	float: left; font-size: 1.1em; margin-right:25px;
	color: #FFFFFF;
}
#content > #main > div:nth-child(3) ~ div{
	height: 150px;
}
#content > #main_banner{width: 100px;}

#content > #main_banner > div{
	width:98px; border: 1px solid #CCCCCC;
	margin-top: 10px;
}

#content > #main_banner >div:nth-child(1),
#content > #main_banner >div:nth-child(2){
	height: 150px;
}
#content > #main_banner >div:nth-child(3){
	height: 200px;
}
#content > #main_banner >div:nth-child(4){
	height: 250px;
}
#content > #main_banner >div:nth-child(5){
	height: 300px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	